[user]
	name = Steve Lefevre
	email = lefevre.10@osu.edu
[push]
	default = simple
[core]
    fileMode = false
[alias]
    introduced = log --diff-filter=A --
    branch-excise = ! "ddd () { git branch -D $1; git push origin --delete $1; }; ddd"
