[user]
	name = Steve Lefevre
	email = lefevre.10@osu.edu
[push]
	default = simple
[core]
    fileMode = false

[alias]

  pretty-log = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  introduced = log --diff-filter=A --
  
  unstage = reset

  branch-excise = ! "gitddd () { git branch -D $1; git push origin --delete $1; }; gitddd"

  overview = ! "git rev-parse --show-toplevel; git remote -v; git branch; git status; git rev-parse HEAD;"

  purify = ! "giteee() { git reset --hard; git clean -d -f; }; giteee"

  unstage = reset

  branch-grow = ! "gitfff() { git checkout -b $1; git push origin $1; }; gitfff"
  
  remove-deleted = "!gitjjj() { git diff --diff-filter=D --name-only -z | xargs -0 git rm; }; gitjjj"

  alias = config --get-regexp ^alias\\.
  aliases = config --get-regexp ^alias\\.

  ignore-filemode = config core.fileMode false

  svn-ignore = "!gitkkk() { grep -v svn .gitignore | xargs -I % svn propset svn:ignore % . }; gitkkk"
