# Ignore everything
*

# But not these files/directories
!.gitignore
!.gitconfig
!scripts/
!scripts/*
!.vim/
!.vim/*
.vim/.netrwhist
!.vimrc
!recipes
!.bash_profile
!.tidy-config
# for mysql client reverse search
!.editrc
