# Ignore everything
*
*~
*.swp

# But not these files/directories
!.gitignore
!.gitconfig
!.gitalias
!scripts/
!scripts/*
!notes
!notes/*
!.vim/
!.vim/*
.vim/.netrwhist
!.vimrc
!recipes
!.bash_profile
!.bash_aliases
!.tidy-config
# for mysql client reverse search
!.editrc
